
.form-button {
  border: 1px solid gray;
  font-size: 1.1rem !important;
  color: red  !important;
}


.calendar {
  background: yellow;
  margin-top: 10px;
}

.form-control.ng-select {
  border: none;
  padding: 0;
  background: yellow;
  color: red;
}
