


<section>
    <div class="title-top">

    </div>

    <div class="title-grid">
        <div></div>

        <!-- LOGO DRC -->
        <div class="logo">
            <a href="http://www.inversionesdrc.com/">
                <img src="assets/images/logos/drc_logo.png" class="img-fluid">
            </a>

            <h1 class="display-1">
                Reports
            </h1>
            <div></div>
            <h2>
                Módulo reportes históricos
            </h2>

        </div>
    </div>

    <div class="title-grid">
        <div></div>
        <div>

            <h4 class="display-5">
                Convertimos la Atención al Cliente en experiencias satisfactorias
            </h4>
            <p class="small">fe-HIST 1.7.0 --- 2018-11-08</p>
        </div>
    </div>

</section>



<section class="container">

    <div class="photo-grid">

    <div>
        <div class="card card-primary">
            <div class="card-header">
                <div class="header-block">
                    <p class="index-title">
                        Servicios Entrantes
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/" [routerLinkActive]="['active']">
                    <img src="assets/images/portada/portada-01.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <div>
        <div class="card card-primary">
            <div class="card-header">
                <div class="header-block">
                    <p class="index-title">
                            Salientes Automáticos
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/" [routerLinkActive]="['active']">
                    <img src="assets/images/portada/portada-02.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <div>
        <div class="card card-primary">
            <div class="card-header">
                <div class="header-block">
                    <p class="index-title">
                            Salientes Manuales
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/" [routerLinkActive]="['active']">
                    <img src="assets/images/portada/portada-03.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <div>
        <div class="card card-primary">
            <div class="card-header">
                <div class="header-block">
                    <p class="index-title">
                            Gestion de personal
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/" [routerLinkActive]="['active']">
                    <img src="assets/images/portada/portada-04.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>



    </div>

</section>
