@import '../../../../../styles/bootstrap/bootstrap';
@import '../../../../../styles/bootstrap/variables';


// $blue:    #007bff !default;
// $primary:       $blue !default;

.submenu {
  font-size: 0.9rem;

  &-brand {
    font-size: 1rem;
    color: $primary;
  }
}
