.table {
  margin-top: 10px;
}


.submenu{
  display:grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: 1rem;

  &-btn{
    font-size: 0.8rem;
    margin: 10px;
    padding: 2px 10px 2px 10px;
  }

  &-buttons{
    display: flex;
    justify-content: flex-start;

  }

  &-input{
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
  }

  &-selector{
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 2px 10px 2px 10px;
    color: red;
    background: yellow;
    border: 1px solid black;
  }

  &-right-menu{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

}

.myCustomModalClass .modal-dialog {
  width: 1000px;
}

.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 5;
}

.ng-select.custom ::ng-deep .ng-select-container {
  min-height: 0px;
  border-radius: 0;
  z-index: 1;
}


// /* The container <div> - needed to position the dropdown content */
// .dropdown {
//   position: relative;
//   display: inline-block;
// }

// /* Dropdown Content (Hidden by Default) */
// .dropdown-content {

//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }


// .dropdown-menu {
//   position: relative;
//   top: 100%;
//   left: 0;
//   z-index: 1000;
//   // display: none;
//   float: left;
//   min-width: 160px;
//   padding: 5px 0;
//   margin: 2px 0 0;
//   font-size: 14px;
//   text-align: left;
//   list-style: none;
//   background-color: #fff; /* here */
//   -webkit-background-clip: padding-box;
//   background-clip: padding-box;
//   border: 1px solid #ccc;
//   border: 1px solid rgba(0,0,0,.15);
//   border-radius: 4px;
//   -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
//   box-shadow: 0 6px 12px rgba(0,0,0,.175);
// }
