.selector {

  margin: 20px 20px 0px 20px;
  font-size: 1.1rem;


  // Title
&-title{
  margin-bottom: 20px;
  color: red
}
  // Subitle
&-subtitle{
    margin-bottom: 20px;
    color: blue;
  }

&-row{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
  }

  &-grid-4columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  &-grid-5columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

// &-flex-columns{
//     display: flex;
//     display: -webkit-flex;
//     flex-flow: row wrap;
//     -webkit-flex-flow: row wrap;
//     justify-content: start;
//   }

  &-bg{
    background: #FFC0CB;
    padding: 20px;
  }

  &-text{
    color: red;
    background: #F0F061;
  }

  }




// First-Row
.row-bg{

  &-row-2{
    background: #F0F061;
  }

  &-row-3{
    background: #ADD8E6;
  }

  &-row-4{
    background: #ADD8E6;
  }

  &-row-5{
    background: rgb(216, 214, 215);
}
}
