
<section id="register" class="myCustomModalClass">
  <div class="container">
    <div class="row">
      <div class=" mx-auto">
        <div class="card-login">
          <div class="card mt-3">
            <div class="card-body">
              <h3 class="h2 mb-3 font-weight-normal text-center">
                Registro de supervisor
              </h3>

              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="register-form">
                  <!-- inv_supervisor_id -->
                  <div class="form-group" id="inv_supervisor_id">
                    <label class="register-label">id</label>

                    <p class="register-detail">{{selected.inv_supervisor_id}}</p>

                  </div>

                  <!-- inv_supervisor_status -->
                  <div class="form-group" id="inv_supervisor_status">
                    <label class="register-label">Status</label>

                    <p class="register-detail">{{selected.inv_supervisor_status}}</p>

                  </div>

                  <!-- inv_supervisor_chk -->
                  <div class="form-group" id="inv_supervisor_chk">
                    <label class="register-label">Chk</label>

                    <p class="register-detail">{{selected.inv_supervisor_chk}}</p>

                  </div>

                  <!-- inv_supervisor_name -->
                  <div class="form-group" id="inv_supervisor_name">
                    <label class="register-label">Nombre completo</label>

                    <p class="register-detail">{{selected.inv_supervisor_name}}</p>


                  </div>

                  <!-- inv_supervisor_shortname -->
                  <div class="form-group" id="inv_supervisor_shortname">
                    <label class="register-label">Nombre corto</label>

                    <p class="register-detail">{{selected.inv_supervisor_shortname}}</p>

                  </div>

                  <!-- inv_supervisor_type -->
                  <div class="form-group" id="inv_supervisor_type">
                    <label class="register-label">Tipo</label>

                    <p class="register-detail">{{selected.inv_supervisor_type}}</p>

                  </div>

                  <!-- inv_supervisor_legal_id -->
                  <div class="form-group" id="inv_supervisor_legal_id">
                    <label class="register-label">Identificación legal</label>

                    <p class="register-detail">{{selected.inv_supervisor_legal_id}}</p>

                  </div>

                  <!-- inv_supervisor_internal_id -->
                  <div class="form-group" id="inv_supervisor_internal_id">
                    <label class="register-label">Código interno</label>

                    <p class="register-detail">{{selected.inv_supervisor_internal_id}}</p>

                  </div>

                  <!-- inv_supervisor_schedule_id -->
                  <div class="form-group" id="inv_supervisor_schedule_id">
                    <label class="register-label">Id del turno</label>

                    <p class="register-detail">{{selected.inv_supervisor_schedule_id}}</p>

                  </div>

                  <!-- inv_supervisor_schedule_name -->
                  <div class="form-group" id="inv_supervisor_schedule_name">
                    <label class="register-label">Nombre del turno</label>

                    <p class="register-detail">{{selected.inv_supervisor_schedule_name}}</p>

                </div>



                  <!-- <div >
<button class="btn btn-secondary register-button"
(click)="onResetForm()">Borrar forma</button>
</div> -->

                  <div *ngIf="registerForm.valid">
                    <button
                      class="btn btn-success register-button"
                      (click)="onRegister(content)"
                    >
                      Registrar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
