
.celda_derecha_azul {
  color:blue;
  text-align: right;
}

.celda_derecha_verde {
  color:darkgreen;
  text-align: right;
}

.celda_derecha_gris {
  color:orangered;
  text-align: right;
}

.celda_derecha_rojo {
  color:red;
  text-align: right;
}

.celda_derecha_negro {
  color:rgb(51, 50, 50);
  text-align: right;
}

.celda_derecha{
  color: black;
  text-align: right;
}

.izquierda-negrita {
  color: black;
  text-align: left;
  font-weight: 600;
}