<section id="intro" class="container mt-5">


  <section id="first-row">

  <div class="grid-1 first-row-bg">

  <div class="item-1">
    <app-selector-start-date></app-selector-start-date>
  </div>

  <div class="item-2">
    <app-selector-end-date></app-selector-end-date>
  </div>

  <div class="item-3">
    <app-selector-lines></app-selector-lines>
  </div>

</div>

</section>

<section>

  <div>
    <app-selector-start-time></app-selector-start-time>
  </div>

  <div>
    <app-selector-end-time></app-selector-end-time>
  </div>

  <div>
    <app-selector-interval></app-selector-interval>
  </div>

</section>


<section>

<div>
    <app-selector-client></app-selector-client>
</div>

<div>
    <app-selector-queue></app-selector-queue>
</div>

<div>
    <app-selector-service></app-selector-service>
</div>

<div>
    <app-selector-campaign></app-selector-campaign>
</div>

</section>


<section>
<div>
    <app-selector-supervisor></app-selector-supervisor>
</div>



<div class="letra-grande">
    <app-selector-agent></app-selector-agent>
</div>

  <div>
    <app-selector-schedule></app-selector-schedule>
  </div>

</section>

  <div>
      <app-selector-break></app-selector-break>
    </div>

  <div>
    <app-selector-group></app-selector-group>
  </div>

  <div>
    <app-selector-limit></app-selector-limit>
  </div>

  <div>
    <app-selector-order></app-selector-order>
  </div>


  <div>
    <app-selector-scale></app-selector-scale>
  </div>

  <div>
    <app-selector-title></app-selector-title>
  </div>

  <div>
    <app-selector-subtitle></app-selector-subtitle>
  </div>



</section>
