<div *ngIf="!rows">
  <ngb-alert [dismissible]="false" >
    <strong>Alerta!</strong> {{message}}
  </ngb-alert>
</div>

<hr>

<section class="mycontainer" *ngIf="rows">

<!-- -------------------------------------------------------------------------- -->

<div class="subtiulo">
  <div>
    <h5>{{selection.titles}}</h5>
    <h6>Fecha: {{selection.date_text_inicio}} al {{selection.date_text_final}}  {{ selection.subtitles }}</h6>
  </div>
  <div class="botonera">
      <button (click)="toogleGraph()" class="btn btn-outline-secondary ">Gráfico</button>
    <button
    (click)="exportToExcel(rows, 'manual-diario')"
    class="btn btn-outline-secondary ">Excel</button>
  </div>
</div>

<section *ngIf="rows && show_table" >
<app-me-list-table
[rows]="rows"
[rows_all]="rows_all"
[selection]="selection"
></app-me-list-table>
</section>

<section *ngIf="rows && show_graph">
  <div >
  <app-me-graph
  [rows]="rows"
  [rows_all]="rows_all"
  [selection]="selection"
  ></app-me-graph>
</div>
</section>

<p></p>
</section>


<section *ngIf="0">
  <ngx-json-viewer [json]="rows" [expanded]="false"></ngx-json-viewer>
  </section>


  <!-- <h1>Selection</h1>
  {{selection | json}} -->
