<section class="mainmenu ">
    <ul class="mainmenu-ul">

      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Display</a></li>
      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Dashboard</a></li>
      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Histórico</a></li>

      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Configuración</a></li>

      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Filtro</a></li>

      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Usuarios</a></li>
      <li class="mainmenu-li"><a class="btn mainmenu-btn" href="#">Auditoría</a></li>
    </ul>

    <hr>
    <ul class="mainmenu-ul">
        <li class="mainmenu-li"><a class="btn mainmenu-btn" (click)="onLogout()">Logout</a></li>
    </ul>
</section>
